/*Se debió hacer con flex, asì hubiera evitado tantos margin
y paddings, ademàs de verificar que no se duplicara la linea 
que los unia con border-left:none; y el border radius sòlo a 
las esquinas que correspondían, border-top-left-radius*/


.container{
	display: flex;
	width: 656px;
	height: 32px;
	margin: 0 auto;
}
button{
	width: 65px;
	background-color: gray;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border: 1px solid red;	
}
input{
	flex: 1;
	padding-left: 16px;
	border: 1px solid red;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-right: none;
}
button:hover {
    background-color: rgb(204, 204, 204);
}
